---
layout: default
---
<link rel="stylesheet" type="text/css" href="/css/sizes.css">
<h2>{{ page.title }}</h2>
<div class="container">
  <div class="col-sm-3">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/examples/animation.html">Animation</a></li>
      <li><a href="/examples/append.html">Append</a></li>
      <li><a href="/examples/centering.html">Centering</a></li>
      <li><a href="/examples/direction.html">Direction</a></li>
      <li><a href="/examples/draggable.html">Draggable</a></li>
      <li><a href="/examples/filter.html">Filter</a></li>
      <li><a href="/examples/fit-height.html">Fit Height</a></li>
      <li><a href="/examples/fit-zone.html">Fit Zone</a></li>
      <li><a href="/examples/fix-position.html">Fix Position</a></li>
      <li><a href="/examples/fix-size.html">Fix Size</a></li>
      <li><a href="/examples/flex-grid.html">Flex Grid</a></li>
      <li><a href="/examples/grid-layout.html">Grid Layout</a></li>
      <li><a href="/examples/gutter-auto.html">Gutter Auto</a></li>
      <li><a href="/examples/hide-block-test.html">Hide Block</a></li>
      <li><a href="/examples/image-layout.html">Image Layout</a></li>
      <li><a href="/examples/instances.html">Multiple Instances</a></li>
      <li><a href="/examples/nested-grid.html">Nested Grid</a></li>
      <li><a href="/examples/pinterest.html">Pinterest</a></li>
      <li><a href="/examples/prepand.html">Prepand</a></li>
      <li><a href="/examples/render.html">Render</a></li>
    </ul>
  </div>
  <div class="col-sm-9">
    {{ content }}
  </div>
</div>


