---
layout: default
---
<link rel="stylesheet" type="text/css" href="/brickwork/css/sizes.css">
<h2>{{ page.title }}</h2>
<div class="container">
  <div class="col-sm-3">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/brickwork/examples/animation">Animation</a></li>
      <li><a href="/brickwork/examples/append">Append</a></li>
      <li><a href="/brickwork/examples/centering">Centering</a></li>
      <li><a href="/brickwork/examples/direction">Direction</a></li>
      <li><a href="/brickwork/examples/draggable">Draggable</a></li>
      <li><a href="/brickwork/examples/filter">Filter</a></li>
      <li><a href="/brickwork/examples/fit-height">Fit Height</a></li>
      <li><a href="/brickwork/examples/fit-zone">Fit Zone</a></li>
      <li><a href="/brickwork/examples/fix-position">Fix Position</a></li>
      <li><a href="/brickwork/examples/fix-size">Fix Size</a></li>
      <li><a href="/brickwork/examples/flex-grid">Flex Grid</a></li>
      <li><a href="/brickwork/examples/grid-layout">Grid Layout</a></li>
      <li><a href="/brickwork/examples/gutter-auto">Gutter Auto</a></li>
      <li><a href="/brickwork/examples/hide-block-test">Hide Block</a></li>
      <li><a href="/brickwork/examples/image-layout">Image Layout</a></li>
      <li><a href="/brickwork/examples/instances">Multiple Instances</a></li>
      <li><a href="/brickwork/examples/nested-grid">Nested Grid</a></li>
      <li><a href="/brickwork/examples/pinterest">Pinterest</a></li>
      <li><a href="/brickwork/examples/prepand">Prepand</a></li>
      <li><a href="/brickwork/examples/render">Render</a></li>
    </ul>
  </div>
  <div class="col-sm-9">
    {{ content }}
  </div>
</div>


